@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url("img/fon.png");
}
h1, h3
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin-top: 25px;
    text-shadow: 0px 0px 10px black;
}
h3
{
    margin-top: 30px;
    margin-bottom: 30px;
}
#game{
    font-size: 0px;
    margin: auto;
    width: 800px;
    margin-bottom: 100px;
    /* background-color: aquamarine; */
}
img{
    width: calc(100% / 6 - 10px);
    margin: 5px;
}